body {
background-color: #ecfcff;
}

.container {
}

.container1 {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

}


.first {
  display: flex;
  justify-content: center;
}

.field {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
   background: linear-gradient(21deg, #10abff, #1beabd);
  padding: 3px;
  border-radius: 9999em;
  margin-left: 20px;
  margin-right: 20px;
  }
